
@{
    ViewBag.Title = "Cliente";
}

<div class="jumbotron">
    <h2 class="text-primary">Cadastro de Clientes</h2>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="~/Cliente/List" class="btn btn-success btn-lg active btn-block" role="button" aria-pressed="true">Listar</a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="btn btn-warning btn-lg active btn-block" role="button" aria-pressed="true">Atualizar</a>
            </div>
        </div>
        <br /><br /><br /><br />
        <div class="row">
             <div class="col-sm-4">
                <a href="~/Cliente/Create" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">Cadastrar</a>
             </div>
             <div class="col-sm-4">
                <a href="~/Cliente/DeleteBusca" class="btn btn-danger btn-lg active btn-block" role="button" aria-pressed="true">Excluir</a>
             </div>
        </div>        
    </div>
</div>